[submodule "vendor/tmux-powerline"]
	path = vendor/tmux-powerline
	url = git://github.com/yesmeck/tmux-powerline.git
[submodule "vendor/tmux-colors-solarized"]
	path = vendor/tmux-colors-solarized
	url = https://github.com/seebi/tmux-colors-solarized.git
